{% extends "layout.html" %}
{% block content %}

                <div class="container">
                        <p class="text-center mt-5 mb-5 proa" >Products</p>
                        <div class="card-deck ">
                            
                                <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{ url_for('static', filename='acad1.jpg')}}" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">XPS 13 Laptop</h5>
                                          <p class="card-text">Our most powerful 33.02 cm (13) in its class, remastered. With an innovative HD webcam located in the top of the InfinityEdge display and next generation Dell Cinema.</p>
                                          <a href="#" class="btn btn-primary">Interested</a>
                                        </div>
                                      </div>
                                      
                                  
                                            
                                                         
                        </div>
                </div>
                
{% endblock content %}