{% extends "layout.html" %}
{% block content %}

                <div class="container">
                        <p class="text-center mt-5 mb-5 proa" >Products</p>
                        <div class="card-deck ">
                            
                                <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{ url_for('static', filename='st1.jpg')}}" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">PowerEdge T30 Mini Tower Server</h5>
                                          <p class="card-text">Ideal for small office/home office collaboration, file storage and sharing, and data protection.</p>
                                          <a href="#" class="btn btn-primary">Interested</a>
                                        </div>
                                      </div>
                                      
                                <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="{{ url_for('static', filename='st2.jpg')}}" height="230px" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">PowerEdge T130 Tower Server</h5>
                                              <p class="card-text">Powerful 1-socket, mini-tower first server for small office/home office and SMB to consolidate data and drive applications faster.</p>
                                              <a href="#" class="btn btn-primary">Interested</a>
                                        </div>
                                </div>    
                                
                                <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{ url_for('static', filename='st3.png')}}" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">PowerEdge T330 Tower Server</h5>
                                          <p class="card-text">Drive SMB and remote office/branch office applications faster and grow your data with a powerful and expandable 1-socket tower server.</p>
                                          <a href="#" class="btn btn-primary">Interested</a>
                                    </div>
                            </div> 
                            
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="{{ url_for('static', filename='st4.jpg')}}" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">PowerEdge T40 Tower Server</h5>
                                      <p class="card-text">The dependable, efficient, and affordable entry-level server to support your growing business. Ideal for file and print and mail and messaging.</p>
                                      <a href="#" class="btn btn-primary">Interested</a>
                                </div>
                        </div>  

                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{ url_for('static', filename='sd1.webp')}}" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">OptiPlex 7070 Micro Business Desktop</h5>
                                  <p class="card-text">An ultracompact desktop featuring versatile mounting options, 9th gen Intel® Core™ processors and optional Intel® vPro™ technology to empower faster productivity.</p>
                                  <a href="#" class="btn btn-primary">Interested</a>
                            </div>
                    </div>  

                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ url_for('static', filename='sd2.webp')}}" height="250px" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Optiplex 7070 Business Desktop</h5>
                              <p class="card-text">Business desktops designed for faster performance and expandability. Featuring 9th gen Intel® Core™ Processors, and optional Intel® vPro™.</p>
                              <a href="#" class="btn btn-primary">Interested</a>
                              
                        </div>
                </div>  

                <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ url_for('static', filename='sd3.webp')}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">OptiPlex 7071 Desktop</h5>
                          <p class="card-text">The desktop built for premium performance, offering optimal expandability and rich, immersive VR experiences.</p>
                          <a href="#" class="btn btn-primary">Interested</a>
                    </div>
            </div>  

            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='sd4.webp')}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">OptiPlex 7070 Ultra Desktop</h5>
                      <p class="card-text">The OptiPlex 7070 Ultra desktop solution offers swappable elements for outstanding flexibility. Price includes PC module with mount or stand of choice.</p>
                      <a href="#" class="btn btn-primary">Interested</a>
                </div>
        </div>

                                            
                                                         
                        </div>
                </div>
        {% endblock content %}


